In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Belyy Yar,RU,2021-11-23 04:04:24,53.6039,91.3903,30.09,68,0,6.71
1,1,Sussex,US,2021-11-23 04:04:25,41.1834,-74.6663,35.08,60,1,4.61
2,2,Hermanus,ZA,2021-11-23 04:04:25,-34.4187,19.2345,51.80,80,12,8.19
3,3,Abalak,RU,2021-11-23 04:04:26,58.1286,68.5944,18.99,93,100,9.46
4,4,Ahipara,NZ,2021-11-23 04:04:26,-35.1667,173.1667,66.25,66,18,11.23

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Airai,TL,2021-11-23 03:58:12,-8.9266,125.4092,77.95,48,86,2.28
10,10,Vaini,TO,2021-11-23 03:59:59,-21.2000,-175.2000,84.36,79,40,5.75
20,20,Kanniyakumari,IN,2021-11-23 04:04:34,8.0833,77.5667,79.39,82,100,5.95
27,27,Rikitea,PF,2021-11-23 04:04:37,-23.1203,-134.9692,75.90,76,1,11.36
32,32,Alice Springs,AU,2021-11-23 04:04:11,-23.7000,133.8833,76.55,65,99,14.97
35,35,San Andres,CO,2021-11-23 04:01:42,12.5847,-81.7006,82.26,70,100,15.77
37,37,Faanui,PF,2021-11-23 04:04:41,-16.4833,-151.7500,81.34,74,100,8.84
42,42,Marsh Harbour,BS,2021-11-23 04:04:44,26.5412,-77.0636,75.99,72,9,13.18
44,44,Cap Malheureux,MU,2021-11-23 04:05:45,-19.9842,57.6142,79.47,59,3,1.99
46,46,Salalah,OM,2021-11-23 04:05:46,17.0151,54.0924,82.49,18,0,8.05

In [12]:
preferred_cities_df.count()

City_ID       150
City          150
Country       150
Date          150
Lat           150
Lng           150
Max Temp      150
Humidity      150
Cloudiness    150
Wind Speed    150
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
5            Airai      TL     77.95  -8.9266  125.4092
10           Vaini      TO     84.36 -21.2000 -175.2000
20   Kanniyakumari      IN     79.39   8.0833   77.5667
27         Rikitea      PF     75.90 -23.1203 -134.9692
32   Alice Springs      AU     76.55 -23.7000  133.8833
35      San Andres      CO     82.26  12.5847  -81.7006
37          Faanui      PF     81.34 -16.4833 -151.7500
42   Marsh Harbour      BS     75.99  26.5412  -77.0636
44  Cap Malheureux      MU     79.47 -19.9842   57.6142
46         Salalah      OM     82.49  17.0151   54.0924

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Airai,TL,77.95,-8.9266,125.4092,Juvinal Martin
10,Vaini,TO,84.36,-21.2000,-175.2000,Keleti Beach Resort
20,Kanniyakumari,IN,79.39,8.0833,77.5667,Sparsa
27,Rikitea,PF,75.90,-23.1203,-134.9692,People ThankYou
32,Alice Springs,AU,76.55,-23.7000,133.8833,Desert Palms Alice Springs
35,San Andres,CO,82.26,12.5847,-81.7006,Hotel Arena Blanca
37,Faanui,PF,81.34,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
42,Marsh Harbour,BS,75.99,26.5412,-77.0636,Abaco Beach Resort
44,Cap Malheureux,MU,79.47,-19.9842,57.6142,Pereybere Hotel & Spa
46,Salalah,OM,82.49,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"

In [22]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [24]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))